
<p>下記のURLをクリックして、パスワードを再設定してください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>2時間以内にアクセスしないとページが無効となりますのでご注意ください。</p>

<p>※パスワードを変更しない場合は、このメールを破棄してください。</p>
<p>※本メールはサーバーより自動送信されているため、返信いただいてもお答えできません。</p>

<p>RecipeClip</p>