<div id="wrapper">
    <%= render "layouts/flash" %>

    <div id="catch">
        <h1>ユーザー一覧画面です。</h1>
        <p id="description">ユーザーが一覧で表示される予定です。</p>
        人気ユーザー、オススメフォローユーザーなどの紹介ページにする予定。
        企業紹介などもよいね。
    </div>

    <div id="main_contents">
    </div>
</div>