<div id="wrapper">
    <div id="catch">
      <h1><%= image_tag("/assets/logo-bd2695f16ce35bb3b08503b473c0ecc8b952d42c45618147733e7a0e44360459.png", :alt => "レシピクリップ") %></h1>
      <p id="description">⾃分のお気に入り料理をシェアすることで、<br>お料理好きな人との交流も楽しめる「料理レシピ共有サービス」です。</p>
    </div>

    <div id="main_contents_about">
      <div class="section">
        <div id="about_contents">
          <ul>
            <li>
              <p class="sub_title">料理レシピ検索</p>
              <p class="about_img"><%= image_tag("/page_images/default_visual.jpg") %></p>

              <p>お料理好きさんが投稿したお料理レシピを厳選してデータベース化。</p>
              <p>料理ジャンル、調理時間、材料名・料理名でシュチュエーションに合ったレシピ検索が可能です。</p>
            </li>
            <li>
              <p class="sub_title">クリップ＆フォロー</p>
              <p class="about_img"><%= image_tag("/page_images/default_visual.jpg") %></p>
              <p>お気に入りレシピをクリップ（保存する機能）や、投稿者同士がフォロー、コメントし合えるコミニケーション機能をご利用いただけます。お料理好きな人とこれらの機能を通じて交流することができます。</p>
            </li>
            <li class="here">
              <p class="sub_title">レシピブログランキング</p>
              <p class="about_img"><%= image_tag("/page_images/default_visual.jpg") %></p>
              <p>レシピブログをお持ちであれば、どなたでもご参加可能です。お料理研究家、フォードコーディネーターの方などの活動の場としてもご活用いただけます。ブログのアクセスアップにお役立てください。</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>