<div id="wrapper">
    <div id="catch">
      <h1>利用規約</h1>
    </div>

    <div id="terms_main_contents">
        <div class="section">
            <p>RecipeCrip利用規約（以下「本規約」という）は、ウェブサイト及びアプリケーション（以下「本サービス」）へのアクセスまたは利用をするすべての利用者（以下「利用者」という。）に適用されます。利用者はいかなる利用形態においても本サービスへのアクセスまたは利用を行う場合には、本規約を理解しこれに拘束されることを承諾したものとみなされます。
        </div>

        <div class="section">
            <p class="title">本サービスの中断・変更等</p>
            <p>利用者へ事前告知することなく、一時的または恒久的に本サービスを中断、変更、中止または機能上の利用制限を独自の判断で行うことができるものとします。この場合、当方は利用者または第三者に対し一切の責任を負わないものとします。</p>
        </div>

        <div class="section">
            <p class="title">本サービス上での投稿内容に関する責任等</p>
            <p>本サービスに投稿された情報、テキスト、グラフィクス、その他（以下「コンテンツ」という）は、作成した本人が一切の責任を負います。</p>
            <p>利用者は本サービスを利用することによって、不適切なコンテンツにさらされる場合があることを理解しこれを承知したものとします。</p>
            <p>利用者は、提供したコンテンツが第三者に再使用される場合があることを承諾するものとします。</p>
        </div>

        <div class="section">
            <p class="title">禁止事項</p>
            <ul>
            <li>・本サービス及び本サービスのサーバー、ネットワーク、他の利用者のアクセスを妨害する行為。</li>
            <li>・無許可の広告宣伝やねずみ講など、スパム行為を目的として本サービスを利用する行為。</li>
            <li>・他人のプライバシーを侵害、不快なコンテンツを投稿する行為。</li>
            <li>・不正確な情報であると認識した上でコンテンツを投稿する行為。</li>
            <li>・第三者が有する特許権、実用新案権、商標権、著作権または所有権を侵害するコンテンツを投稿する行為。</li>
            <li>・当方が不適切と判断する行為の一切。</li>
            </ul>
        </div>

        <div class="section">
            <p class="title">著作権侵害の対応</p>
            <p>万が一、利用者のコンテンツに関して著作権侵害の疑いがあると考えられる場合には、次の情報を当方へご提供ください。</p>
            <p>当方は適用法に従った適切な著作権侵害の疑いの通知を受けた際には対応を行います。</p>

            <ul>
            <li>・著作権者もしくは著作権者を代理する権限を持つ方の物理的または電子的な署名。</li>
            <li>・利用者が著作権を侵害されたと主張する著作物の作品名及び作品の説明。</li>
            <li>・利用者の著作権を侵害されたと主張する素材が存在する本サービス上の在り処及びその説明。</li>
            <li>・利用者の住所、電話番号、電子メールアドレスを含む連絡先の情報。</li>
            <li>・利用者が誠実な信念に基づき、法令により申し立てた方法での使用が許可されていないと確信する旨を記した供述書。</li>
            <li>・偽証罪の罰則規定に従い、上記の情報を含む通知の内容が正確であり、利用者が著作権者もしくは著作権者を代理する権限を持つ方である旨を記した供述書。</li>
            </ul>

            <p>著作権侵害の疑いを通知する場合、当方指定の著作権代理人の連絡先は以下の通りです。</p>
            <p>RecieClip 著作権代理人宛</p>
            <p>Email: support@recipeclip.net</p>
            <p>当方は著作権侵害が疑われると判断したコンテンツを、事前に予告なく当方の裁量で削除することができるものとします。</p>
            <p>当方は特定の利用者が著作権侵害を疑われる行為を繰り返していると判断した場合には、当方の裁量で利用者のアカウントを解除できるものとします。</p>
        </div>

        <div class="section">
            <p class="title">アカウント削除</p>
            <p>当方は事前に予告なく、利用者の本サービスへのアクセスまたは利用を終了、制限または停止することができるものとします。</p>
            <p>利用者がアカウントの削除を希望する場合、当方はサイトに明記された所定の方式により削除できるものとします。</p>
        </div>

        <div class="section">
            <p class="title">免責</p>
            <p>本サービスまたは本サービス上の一切のコンテンツのセキュリティ、可用性、正確性、適時性、信頼性、完全性を一切担保せず、一切の責任を負わないものとします。</p>
            <p>本サービスの一切のコンテンツ及びその他の通信の削除、保存または送信の失敗に対し、一切の責を負わないものとします。</p>
            <p>本サービスまたは一切のコンテンツへのアクセス及び利用したことに起因するコンピューターシステムへの害、データ損失、またはその他の害の発生に対し、一切の責任を負わないものとします。</p>
            <p>本サービスは利用者の要求を満たすものであり、あるいは誤りのない状態で提供されることを、一切担保するものではないものとします。</p>
            <p>本サービスまたは一切のコンテンツへのアクセス及び利用は、利用者自身がすべてのリスクを負うものとします。</p>
        </div>

        <div class="section">
            <p class="title">規約の改定</p>
            <p>当方は本規約を随時改定します。最新版は本サービスのウェブサイト上で公開します。</p>
            <p>利用者は改定の発効後に、本サービスへのアクセスまたは利用を行う場合には、改定後の規約に拘束されることを承諾したものとみなされます。</p>
        </div>

        <div class="section">
            <p class="title">準拠法と管轄権</p>
            <p>本規約は、日本語の規約が他の言語訳の規約より優先するものとします。</p>
            <p>本規約及び本規約に基づく関連する一切の行為活動は、お住まいの国の法律やその適用による矛盾に関係なく、日本法に準拠するものとします。</p>
            <p>本サービスにより発生する全ての訴えは、日本国の東京地方裁判所または行政機関において排他的に取り扱われ、利用者はこの裁判所の場所と管轄権に同意し、不便な法廷地に対する異議を放棄したものとします。</p>
        </div>
    </div>
</div>