<div id="wrapper">
    <%= render "layouts/flash" %>
    
    <div id="page_body">
        <div id="main_contents_qa">
            <div class="section">
                <div class="question">
                <p class="question_title"><i class="fas fa-question-circle"></i>アメーバブログへの掲載方法</p>
                </div>    
                <div class="answer">
                    <p>レシピクリップにログイン後、画面右上のユーザー名をクリックし、MYブログをクリックしてください。MYブログのプロフィールページに移動したら、下記の赤枠内に記載されているバナーコードをコピーしましょう。</p>
                    <p><%= image_tag("banner_display_position.jpg") %></p>
                    <p>以上の方法でコピーしたバナーコードをアメーバーブログに貼り付けます。</p>

                    <p class="sub_title">バナーコードの貼り付け</p>
                    <p>アメーバブログのブログ管理からブログを書くをクリックし、HTML表示をクリックしてください。<br>枠内で右クリックすると貼り付け欄がでますので貼り付けをクリックしてください。<br>先ほどコピーしておいたバナーコードが貼り付けられます。</p>
                    <p><%= image_tag("ameba_01.jpg") %></p>
                    <p>掲載した後に公開または下書きをすれば完成です。<br>公開ページまたは下書きページを表示してバナーが表示されていることを確認しましょう。</p>

                </div>
            </div>
        </div>

        <div id="side_contents">
            <div id="sponsor">
            </div>
        </div>
    </div>
</div>
