// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.password_resets #main_contents_reset {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 !important;
    background: none !important;
    margin-top: 40px;
}
.password_resets #reset_form {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    background:#ecdfd6;
    border: 1px solid #D3C3B4;
    padding: 30px;
}
.password_resets #error_message {
    text-align: center;
    margin-bottom: 20px;
    color: #D7893B;
    font-weight: bold;
    font-size: 14px;
}
.password_resets p#instruction {
    text-align: center;
    margin-bottom: 10px;
}
.password_resets input {
    padding-left: 20px;
    padding-right: 20px;
    width: 260px;
    height: 40px;
    border-radius: 25px;		/* CSS3草案 */
	-webkit-border-radius: 25px;	/* Safari,Google Chrome用 */
    -moz-border-radius: 25px;	/* Firefox用 */
    border: 1px solid #D3C3B4;
    margin: 0 auto;
    margin-bottom: 10px;
}

.password_resets #input_email {
    width: 302px;
    overflow: hidden;
    margin: 0 auto;
}
.password_resets #password_reset_input_submit {
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.password_resets #password_reset_input_submit input[type="submit"] {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
    text-align: center;
    float: none;
    background: #630;
    color: #FFFFFF;
    cursor: pointer;
}

.password_resets #password_reset_form {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    background:#ecdfd6;
    border: 1px solid #D3C3B4;
    padding: 30px;
}
.password_resets .input_password {
    width: 312px;
    overflow: hidden;
    margin: 0 auto;
}